@use "vars" as v;
body {
  font-family: "Montserrat", sans-serif;
}
.btn {
  padding: 0.8em 1.5em;
  background-color: v.$primary-color;
  color: v.$primary-light-color;
  font-size: 1rem;
  border-radius: 2rem;
  border: 1px solid v.$primary-color;
}
.btn--outline {
  @extend .btn;
  color: v.$primary-color;
  background: transparent;
}
.header-pill {
  padding: 0.5em 2em;
  background-color: v.$secondary-bg-color;
  color: v.$secondary-color;
  font-size: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
}
.header-title {
  color: v.$primary-color;
}
