* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  margin-top: 0;
}
.ourTeam {
  padding: 3% 20px;
}
.teamGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  margin-top: 30px;
}
.teamItem {
  padding: 0 25px;
  text-align: center;
}
.footer {
  background-color: black;
}
.ourTeam > h1,
p {
  text-align: center;
}
.teamItem img {
  border-radius: 50%;
  transition: all 0.2s;
}
.teamName {
  font-weight: normal;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 12px;
}
.teamPosition {
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
}
.teamItem img:hover {
  opacity: 0.5;
}

.ourWork {
  background-color: rgb(58, 58, 58);
}
.ourWorkGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}
.ourWorkItem img {
  max-width: 100%;
  object-fit: cover;
}
.bgWhite {
  background-color: white;
}
.ourWorkItem * {
  color: black;
}
.ourWorkItem h3,
h4,
p {
  font-weight: normal;
  padding: 0 20px;
  text-align: left;
}
.ourWorkItem h3 {
  font-size: 20px;
}
.ourWorkItem h4 {
  font-size: 18px;
}
.ourWork {
  padding: 3% 20px;
}
.textWhite {
  color: white;
}
.pricingItem {
  border: 1px solid gray;
}
.pricing {
  padding: 3% 20px;
  text-align: center;
}
.pricingGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}
.pricingItem ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.pricingItem li {
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid rgb(183, 183, 183);
}
.pricingItem h3 {
  background-color: black;
  color: white;
  margin: 0;
  padding: 30px;
  font-weight: normal;
  font-size: 24px;
}
.pricingItem:nth-child(2) h3 {
  background-color: gray;
}
.price {
  text-align: center;
  font-size: 30px;
}
.priceBtn {
  border: 0;
  background-color: rgb(81, 152, 128);
  color: white;
  padding: 10px 20px;
}
.btnDiv {
  background-color: rgb(209, 209, 209);
  padding: 30px;
}
.title {
  text-align: center;
}
.subtitle {
  text-align: center;
}
.pricingItem:hover {
  box-shadow: 10px 5px 5px rgb(183, 183, 183);
}
.contactUs {
  padding: 3% 20px;
  text-align: center;
  background-color: rgb(232, 232, 232);
}
.contactGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.contactItem ul {
  list-style-type: none;
}
.address {
  text-align: left;
}
.address * {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 16px;
}
.formDiv {
  box-shadow: 10px 5px 5px rgb(183, 183, 183);
  background-color: white;
  text-align: left;
  padding: 18px;
}
.input {
  border: 0;
  width: 100%;
  border-bottom: 1px solid grey;
  padding: 12px 0;
}
.formCheckbox {
  display: flex;
  justify-content: space-between;
}
.formItem {
  padding: 16px 0;
}
.submit {
  background-color: black;
  color: white;
  padding: 12px 16px;
}
