@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("reset.css");
.mainGrid {
  margin: 32px;
  max-width: 100%;
  display: grid;
  grid-template-columns: auto 30%;
  gap: 20px;
}
aside.card {
  border: 1px solid black;
  max-height: 300px;
  background-color: aqua;
  overflow-x: hidden;
  overflow-y: scroll;
}
h1 {
  position: relative;
  display: inline-block;
}
h1::after {
  content: "sss";
  color: red;
  font-size: small;
  display: block;
  position: absolute;
  /*inset: 0; --per visa ploti*/
  top: 100%;
  left: 50%;
}
li::marker {
  color: red;
}
