@use "reset";
@use "vars";
@use "common";

.late-news {
  background-color: #333;
  color: #fff;
  padding-top: 5%;
  padding-bottom: 5%;

  .container > .btn {
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .news__title {
    text-align: center;
    font-size: 2rem;
  }
  .news__subtitle {
    font-weight: 300;
    text-align: center;
  }

  .single-post {
    display: flex;
    flex-direction: column;

    &__description {
      background-color: #fff;
      color: #333;
      padding: 1rem;
    }
    &__title {
      font-size: 1.5rem;
      margin-bottom: 2em;
    }
    &__short {
      margin-bottom: 2rem;
    }
    &__link {
      color: #f1d204;
    }
  }
  .news-posts {
    display: grid;
    gap: 1rem;
  }
}

.counters {
  padding: 5rem 0;
  background: linear-gradient(0deg, rgba(255, 0, 150, 0.3)), url(../img/9.jpg) no-repeat center;
  
  background-color: rgba(255, 166, 0, 0.281);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-align: center;
  .counters-container{
    display: grid;
  }
  .one-counter{
    &__desc{
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
    }
    &__number{
        font-size: 65px;
        font-weight: 700;
        h2{
        margin-bottom: 10px;
        }
    }
  }
}

@import "media";
